<div class="container container-centered">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><strong>Send confirmation instructions</strong></h4>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

          <div class="form-group">
            <%= f.label :username, class: "control-label" %><br />
            <%= f.text_field :username, class: "form-control", autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
          </div>

          <div class="form-group">
            <%= f.submit "Send", class: "btn btn-primary center-block" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>