<div class="container">
  <div class="row">
    <div id="heading" class="col-xs-4">
      <h3><b>Given answers</b></h3>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <table>
      <tbody>
        <% @given_answers.each do |ga| %>
          <tr>
            <td><%= ga.user.to_s + " - " + ga.answer.to_s %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
