<% if @room.save %>
  $('#table').bootstrapTable('insertRow', {
    index: 0,
    row: {
      id: "<%= @room.id.to_s %>",
      name: "<%= @room.name %>",
      permission: "Admin",
      status: "Created",
      button: "<%= escape_javascript link_to "Enter", @room, class: "btn btn-primary btn-xs", tabindex: "-1" %>",
      new: true
    }
  })

  $('#info').html(`
    <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <p>Successfuly created room.</p>
    </div>
  `)
<% else %>
  $('#info').html(`
    <%= render 'layouts/errors', object: @room %>
  `)
<% end %>
  