<div class="container">
  <div class="row">

    <p>
      <strong>Name:</strong>
      <%= @room.name %>
    </p>

    <p>
      <strong>Open:</strong>
      <%= @room.open %>
    </p>

    <p>
      <string>Permission:</strong>
      <%= @role.name %>
    </p>

    <hr>

    <%= link_to 'Back', rooms_path %>

  </div>
</div>


