<div class="container">
  <div class="row">
    <div id="heading" class="col-xs-4">
      <h3><b>Roles</b></h3>
    </div>
  </div>

  <div class="row">
    <hr>
  </div>

  <div class="row">
    <table>
      <tbody>
        <% @roles.each do |role| %>
          <tr>
            <td><%= role.id.to_s + " - " + role.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>