.panel
{
  width: 22em;
  margin-left: auto;
  margin-right: auto;
}

.wide-panel
{
  width: 25em;
}

.panel-heading
{
  text-align: center;
}

.btn
{
  width: 50%;
}

form 
{ 
  margin: 0 auto; 
  width: 100%;
}