<!-- app/views/layouts/_footer.html.erb -->

<footer>
  <div class="container-fluid">
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">Footer</div>
      </div>
    </div>
  </div>
</footer>